@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: #003366;
  
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-weight: 400;
  text-decoration: none;
}
.hero{
  background: url("/bg-pic-mobile.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 95vh;
  display: flex;
}
.footer{
  background: var(--color-secondary);
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 10;
  font-size: small;
  color: var(--color-blue-50);
}
.footer li{
  color: var(--color-blue-100);
  font-size: small;
  line-height: 30px;  
  border-radius: 5px;
  transition: all 0.3s ease;
}
.footer li:hover{
  color: var(--color-background);
  font-weight: bold;
}
.footer-title{
  width: 100%;
  text-align: left;
  display: flex;
  margin: 20px 0;
  font-weight: bold;
}
.foter-title:before {
    content: " ";
    width: 10%;
    background-color:  #ff6600;
    height: 1px;
    display: block;
    flex-shrink: 1;
    margin: 0 20px; }
  .foter-title:after {
    content: " ";
    width: 10%;
    background-color: #ff6600;
    height: 1px;
    display: block;
    flex-shrink: 1;
    margin: 0 20px;
   }

@media screen and (min-width: 768px) {
  .hero{
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-blue-600));
  }
  
}