@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  line-height: 1.5;
  /* background-color: rgb(24, 24, 35); */
 
}

body { 
  margin: 0; 
  padding: 0; 
  min-height: 100vh;
  
}
.TITLE{
  font-family: 'Tangerine', cursive;
  text-shadow: 0 ;
  
}

